<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SPA JS - The Single Page Application</title>

		<link rel="stylesheet" href="css/site.css" type="text/css"/>
		<link rel="stylesheet" href="css/animations.css" type="text/css"/>

    </head>
    <body>

        <section id="main" class="main-content" role="main"></section>

        <script src="js/mbp.js" type="text/javascript"></script>
        <script src="js/backpack.js" type="text/javascript"></script>
        <script src="js/spa.js" type="text/javascript"></script>

    </body>
</html>
